.footer {
  margin-top: 67px;
  margin-bottom: 60px;
}

.footer__copyright {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  color: #545454;
  margin: 0;
}

@media screen and (max-width: 480px) {
  .footer {
    margin-top: 48px;
    margin-bottom: 36px;
  }

  .footer__copyright {
    width: 282px;
    font-size: 14px;
    line-height: 16.94px;
  }
}
