.header {
  margin-top: 45px;
  padding-bottom: 41px;
  border-bottom: 1px solid rgb(84, 84, 84, 0.7);
}

.header__logo {
  width: 173px;
  height: 33px;
  margin: 0;
  border: 0;
}

@media screen and (max-width: 820px) {
  .header__logo {
    padding-left: 27px;
  }
}

@media screen and (max-width: 620px) {
  .header {
    margin-top: 28px;
    padding-bottom: 32px;
    width: 100%;
  }

  .header__logo {
    width: 126px;
    height: 24px;
  }
}
