.header {
  margin-top: 45px;
  padding-bottom: 41px;
  border-bottom: 1px solid rgb(84, 84, 84, 0.7);
}

@media screen and (max-wdith: 480px) {
  .header {
    margin-top: 28px;
    margin-bottom: 32px;
    width: 100%;
  }

  .header__logo {
    padding-left: 27px;
    width: 126px;
    height: 24px;
    margin: 0;
    border: 0;
  }
}
