.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  padding: 0 19px;
  display: flex;
  /* display: none; */
}

.modal__opened {
  display: flex;
}

.modal__container {
  position: relative;
  background-color: white;
  margin: auto;
  width: 430px;
  padding: 34px 36px 36px;
  border-radius: 10px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.modal__input {
  font: Inter, sans-serif;
  height: 27.26px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  padding-left: 0;
  padding-right: 0;
  /* padding-bottom: 13px; */
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-color: rgba(0, 0, 0, 0.2);
}

.modal__button {
  height: 50.15px;
  background-color: #000000;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  border-radius: 2px;
  margin-top: 18px;
}

.modal__heading {
  font: Inter, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  width: 330px;
  padding-bottom: 24px;
  margin: 0;
  color: #000000;
}

.modal__close {
  background-image: url(../images/Close\ Icon.svg);
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 620px) {
  .modal__container {
    max-width: 282px;
    max-height: 322px;
    padding: 25px 22px 25px 22px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 22px);
    left: calc(100% - 28px);
  }

  .modal__heading {
    font-size: 18px;
    line-height: 21.78px;
  }

  .modal__button {
    font: Inter, sans-serif;
    font-size: 14px;
    line-height: 16.94px;
    max-height: 46px;
  }
}
