.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
  max-width: 880px;
}

.profile__photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax (auto, 373px) auto;
}

.profile__edit-button {
  background: transparent url(../images/edit.svg) center no-repeat;
  height: 24px;
  width: 24px;
  margin-top: 37px;
  grid-area: button;
  border-color: white;
  border-width: 1px;
  border-style: solid;
}

.profile__edit-button:hover {
  opacity: 60%;
  transition: opacity 0.3s;
}

.profile__add-button {
  background: transparent url(../images/add.svg) center no-repeat;
  background-size: 22px 22px;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border-color: white;
  border-width: 2px;
  border-radius: 2px;
  border-style: solid;
}

.profile__add-button:hover {
  opacity: 60%;
  transition: opacity 0.3s;
}

.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin-top: 22px;
  margin-bottom: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  grid-area: title;
}

.profile__description {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  width: 415px;
  margin-top: 7px;
  margin-bottom: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  grid-area: description;
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
  }
  .profile__add-button {
    margin: 0;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .profile {
    padding-bottom: 32px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-top: 30px;
    margin: 0;
    padding-bottom: 36px;
  }

  .profile__title {
    width: 196px;
    font-size: 22px;
    font-weight: 500;
    line-height: 26.63px;
    margin: 0;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    margin: 0;
    margin-top: 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
  }
  .profile__add-button {
    background-size: 18px 18px;
    display: flex;
    width: 282px;
    height: 50px;
    justify-content: center;
    padding: 0;
  }

  .profile__edit-button {
    margin-top: 4px;
    margin-left: 10px;
    width: 18px;
    height: 18px;
  }

  .profile__photo {
    margin: 0;
  }
}
