.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  align-items: baseline;
}

.profile__edit-button {
  background: transparent url(../images/edit.svg) center no-repeat;
  height: 24px;
  width: 24px;
  margin-top: 37px;
  grid-area: button;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 60%;
  transition: opacity 0.3s;
}

.profile__add-button {
  background: transparent url(../images/add.svg) center no-repeat;
  background-size: 22px 22px;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border-color: white;
  border-width: 2px;
  border-radius: 2px;
  border-style: solid;
  flex-shrink: 0;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 60%;
  transition: opacity 0.3s;
}

.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin-top: 22px;
  margin-bottom: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__description {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  width: 415px;
  margin-top: 7px;
  margin-bottom: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  grid-area: description;
}

@media screen and (max-width: 820px) {
  .profile {
    flex-direction: row;
  }
  .profile__add-button {
    margin-right: 27px;
  }
  .profile__photo {
    margin-left: 27px;
  }

  .profile__title {
    max-width: 340px;
    font-size: 38px;
  }
}

@media screen and (max-width: 620px) {
  .profile {
    flex-direction: column;
  }

  .profile__info {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  .profile__title {
    font-size: 22px;
    text-align: center;
    margin-top: 25px;
    line-height: 26.63px;
  }

  .profile__description {
    margin-bottom: 36px;
    margin-top: 14px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 16.94px;
  }

  .profile__add-button {
    background-size: 18px 18px;
    width: 100%;
    max-width: 282px;
    margin: 0;
    margin-bottom: 36px;
  }

  .profile__edit-button {
    margin-top: 4px;
    margin-left: 10px;
    width: 18px;
    height: 18px;
    border: groove 1px;
    cursor: pointer;
    align-items: baseline;
  }

  .profile__photo {
    margin-left: 27px;
    margin-right: 27px;
  }
}
